.pixel {
    border: 1px solid black;
    aspect-ratio: 1;
    flex: 0 1 auto;
}

.filled {
    background-color: black;
}

.row {
    display: flex;
    flex: 0 1 auto;
}

.grid {
    display: flex;
    flex-direction: column;
}